/* html {
  scroll-behavior: smooth;
} */

html {
  overflow-x:hidden;
}

body {
  text-align: center;
  text-transform: uppercase;
  font-family: serenity, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 0;
  margin: 0;
  /* background-attachment: fixed; */
  background-position: center;
  background-image: url("../resources/longwhiteboi.png");
  background-size:100% 100%;
 }

h1 {
  line-height: 5vw;
}

.title .contain-bottom {
  position: relative;
}



.landing {
  width: 100%;
  background-image: url("../resources/dark\ bg.png");
  background-repeat: no-repeat;
  background-position: center; 
  text-align: center;
  height: 100%;
  position: relative;
  background-size:100% 100%;
}

.landing .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  height: auto;
  text-align: left;
}

.nav-container {
  text-align: right;
}

.nav {
  color: white;
  position: fixed;
  display: block;
  right: 0;
  font-size: 1.5vw;
  text-decoration: none;
  padding-top: 20px;
  padding-right: 20px;
}

.nav a {
  text-decoration: none;
}

.nav p {
  text-decoration: none;
}

.smoke-header {
  width: 100vw;
  position: fixed;
  opacity: 88%;
  pointer-events: none;
  z-index: 1;
}

.tickets{
  position:relative;
  background-size: cover;
  min-height: 100vh;
}

/* ENQUIRIES */
.enquiries {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  height: max-content;
  display: inline-block;
  width: 100%;
  min-height: 100vh;
}

.enquiries h2 {
  color: #2E2E35;
  font-size: 5vw;
}

.e-header-div {
  position: relative;
  z-index: 10;
}

.enquiries p {
  font-size: 1.2em;
  color: #2E2E35;
}

.enquiries p a {
  color: #2E2E35;
  text-decoration: none;
}

/* .container-container-container {
  height: 100%;
  position: relative;
}

.container-container {
  top: 50%;
  position: absolute;
  transform: translate(0%, -50%);
} */

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
  margin: -10px 0 0 -10px;
  position: relative;
  flex-flow: row wrap;
  /* top: 30%; */
}

.container div a {
  color: white;
  text-decoration: none;
}

.enquiries h2 {
  font-size: 4em;
}

.item {
  color: #2E2E35;
  display: inline-block;
  padding: 20px;
  margin: 10px 0 0 1%;
  flex-basis: 15%;
  flex-grow: 1;
  text-decoration: none;
}

.head {
  font-weight: 200;
}

.department {
  font-weight: 400;
  font-size: 1.2em;
}

.item img {
  height: 5vw;
  width: 8vw;
}

.fa-envelope {
  font-size: 5vw;
  font-weight: 100;
}

/* WORKERS */

.workers {
  height: 100%;
  position: relative;
}

.workers .workers-text {
  font-size: 1.4em;
  width: 30em;
  letter-spacing: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.workers h2 {
  font-size: 4em;
}

.workers-buttons {
  bottom: 0;

  position: absolute;

  width: 100%;
}

.workers button {
  margin: 0.3vw;
}

.btn {
  border: 3px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 1.5em;
  cursor: pointer;
  font-family: serenity, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
  width: 30%;
}

.default {
  border-color: #0c0808;
  color: black;
  padding: 5px;
}

.default:hover {
  background: #e7e7e7;
}

.header div {
  text-decoration: none;
  z-index: 2;
}

.header div a {
  color: white;
  z-index: -1000;
}

/* Roles */


@media only screen and (max-device-width: 800px) {
  .nav {
    font-size: 1.16em;
  }

  .landing .title {
    width: 100%;
  }

  .landing .bottom-line {
    width: 100%;
    overflow: unset;
  }

  .mayball {
    font-size: 2.55em;
  }

  .christs {
    font-size: 3.8em;
  }

  .e-header-div {
    z-index: 0;
  }

  .enquiries h2 {
    font-size: 3em;
  }

  .workers .workers-text {
    width: 100%;
    padding-top: 20px;
  }

  .workers h2 {
    font-size: 3em;
    padding-top: 40px;
  }

  .btn {
    width: 54%;
  }
}
.mobile-img{
  visibility: hidden;  
  height:0px;
}

.faqs{
  height:130vh;
  background-image: url(' ../resources/dark\ bg.png');
  background-size:100% 100%;
}

.faqs-blur{
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);

}

@media only screen and (max-device-width: 800px) {
  body{
    background-size:auto 100%;
    overflow-x: hidden;
  }
  .faqs{
    background-size: auto 100%;
  }
  .landing{
    background-size: auto 100%;
  }

  .big-img{
    visibility: hidden;  
    height: 0px;
  }

  .mobile-img{
    visibility: visible;
    height:auto
  }
  .smoke-header{
    height:5em
  }
}