html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  text-transform: uppercase;
  font-family: serenity, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 0;
  margin: 0;
  background-image: url("resources/globe-4.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  line-height: 5vw;
}

.title .contain-bottom {
  position: relative;
}

.landing .bottom-line {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-bottom: 3%;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  overflow: hidden;
  white-space: nowrap;
}

.landing .date {
  font-size: 2em;
}

.christs {
  font-size: 8.5em;
  margin-bottom: 0;
  letter-spacing: 0.2em;
  margin-right: -0.2em;
}

.box-with-text {
  background-image: url(resources/smoke_header.png);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.mayball {
  padding: 0;
  margin: 0;
  font-size: 6vw;
  letter-spacing: 0.1em;
  margin-right: -0.1em;
  font-size: 5.7em;
}

.landing {
  width: 100%;
  text-align: center;
  height: 100%;
  position: relative;
}

.landing .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  height: auto;
  text-align: left;
}

.nav-container {
  text-align: right;
}

.nav {
  color: white;
  position: fixed;
  right: 0;
  font-size: 1.5vw;
  text-decoration: none;
  padding-right: 20px;
  padding-top: 20px;
}

.nav a {
  text-decoration: none;
}

.nav p {
  text-decoration: none;
}
.smoke-header {
  width: 100%;
  position: fixed;
  opacity: 88%;
  pointer-events: none;
  z-index: 0;
}

/* ENQUIRIES */
.enquiries {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("resources/smoke_bg.png");
  background-size: cover;
  height: max-content;
  display: inline-block;
  width: 100%;
  min-height: 100vh;
}

.enquiries h2 {
  color: white;
  font-size: 5vw;
}

.e-header-div {
  position: relative;
  z-index: 10;
}

.enquiries p {
  color: white;
}
.enquiries p a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
  margin: -10px 0 0 -10px;
  position: relative;
  flex-flow: row wrap;
}

.container div a {
  color: white;
  text-decoration: none;
}

.enquiries h2 {
  font-size: 4em;
}

.item {
  color: white;
  display: inline-block;
  padding: 20px;
  width: 150px;
  height: 200px;
  margin: 10px 0 0 1%;
  flex-basis: 15%;
  flex-grow: 1;
}

.fa-envelope {
  font-size: 5vw;
  font-weight: 100;
}

/* WORKERS */

.workers {
  height: 100%;
  position: relative;
}

.workers h2 {
  font-size: 4em;
}

.workers .workers-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  border: 3px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  font-family: serenity, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

.default {
  border-color: #0c0808;
  color: black;
  padding: 5px;
}

.default:hover {
  background: #e7e7e7;
}

.header div {
  text-decoration: none;
  z-index: 2;
}

.header div a {
  color: white;
  z-index: -1000;
}
