body {
	margin: 0;
	background-color: #ecf0f1;
	color: #231c22;
}

h2 {
	font-family: 'Cinzel Decorative', serif;
	font-weight: normal;
	font-size: 26px;
	margin: 0 0 10px 0;
}

h3 {
	font-family: "Halant", serif;
	font-weight: 300;
	font-size: 22px;
	margin: 0 0 10px 0;
}

h4 {
	font-family: "Halant", serif;
	font-weight: 400;
	font-size: 16px;
	margin: -10px 0 10px 0;
}

h5 {
	font-family: "Halant", serif;
	font-weight: 300;
	font-size: 14px;
	margin: 0;
}

p {
	font-family: "Halant", serif;
	font-weight: 400;
	font-size: 18px;
	margin: 0;
}

strong {
	font-weight: 600;
}

a {
	text-decoration: none;
	color: #231c22;
	transition: opacity 0.3s;
	border-style: solid;
	border-width: 0 0 1px 0;
	opacity: 0.9;
}

a:hover {
	opacity: 0.6;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#container {
	margin: 0;
}

#navigation {
	box-sizing: border-box;
	position: absolute;
	padding: 50px 50px 0 50px;
	width: 100%;
}

#navigation ul {
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0;
}

#navigation ul li {
	display: inline-block;
	margin: 0 10px 0 10px;
}

#nav {
	position: relative;
	float: left;
}

#social {
	position: relative;
	float: right;
}

.section {
	box-sizing: border-box;
	margin: 0 0 0 0;
	padding: 60px 10px 60px 10px;
	text-align: center;
	width: 100%;
}

#logo_section {
	background-color: #ecf0f1;
	padding: 0 30px 0 30px;
	height: 700px;
}

#logo {
	margin: 240px auto 0 auto;
	width: 100%;
	max-width: 600px;
}

#ents {
	text-align: left;
	padding: 60px;


	background-color: #dc5678;
	color: #ecf0f1;
}

#ents a, #staffing a, #ticketing a, #sponsor a {
	color: #ecf0f1;
}

#staffing {
	text-align: left;
	padding: 60px;


	background-color: #b31057;
	color: #ecf0f1;
}

#applications, #more, #terms, #faq {
	padding-top: 30px;
}

#rolls {
	padding-top: 45px;
}

#rolls li {
	font-family: "Halant", serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 22px 0;
	text-indent: -13px;
}

#rolls li:before {
	content: "- ";
	text-indent: -13px;
}

.column {
	width: 50%;
	margin: 0 -1px 0 -1px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}
.left {
	padding-right: 30px;
}

.right {
	padding-left: 30px;
}

@media screen and (max-width: 800px) {
    .column {
		width: 100%;
	}
	.left, .right {
		padding: 0;
	}
}

#ticketing {
	text-align: left;
	padding: 60px;


	background-color: #7f0345;
	color: #ecf0f1;
}

#faqs {
	padding-top: 0;
}

#faqs h4{
	font-family: "Halant", serif;
	font-weight: 300;
	font-size: 20px;
	font-style: italic;
	margin: 10px 0 0 0;
}

#faqs p{
	font-family: "Halant", serif;
	font-weight: 300;
	font-size: 16px;
}

#sponsor {
	text-align: left;
	padding: 60px;


	background-color: #540e31;
	color: #ecf0f1;
}

#committee {
	background-color: #231c22;
	color: #ecf0f1;
}

#committee a {
	color: #838586;
	border: none;
}

.group {
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	display: inline-block;
	vertical-align: middle;
	padding: 30px 20px 30px 20px;
}

@media screen and (max-width: 400px) {
    #navigation {
		padding: 50px 10px 0 10px;
	}
}