@font-face {
    font-family: 'scriptinaregular';
    src: url('scriptina-webfont.eot');
    src: url('scriptina-webfont.eot?#iefix') format('embedded-opentype'),
         url('scriptina-webfont.woff') format('woff'),
         url('scriptina-webfont.ttf') format('truetype'),
         url('scriptina-webfont.svg#scriptinaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	background-color: #fff;
	color: #231c22;
}

h2 {
	font-family: 'scriptinaregular', serif;
	font-weight: normal;
	font-size: 34px;
	color: #ff5c81;
	margin: 0 0 -10px 0;
}

h3 {
	font-family: "Halant", serif;
	font-weight: 300;
	font-size: 22px;
	margin: 0 0 10px 0;
}

h4 {
	font-family: "Halant", serif;
	font-weight: 400;
	font-size: 16px;
	margin: -10px 0 10px 0;
}

h5 {
	font-family: "Halant", serif;
	font-weight: 300;
	font-size: 14px;
	margin: 0;
}

p {
	font-family: "Halant", serif;
	font-weight: 400;
	font-size: 18px;
	margin: 0;
}

strong {
	font-weight: 600;
}

a {
	text-decoration: none;
	color: #231c22;
	transition: opacity 0.3s;
	border-style: solid;
	border-width: 0 0 1px 0;
	opacity: 0.9;
}

a:hover {
	opacity: 0.6;
}

.imglink {
	border: none;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#container {
	margin: 0;
}

#navigation {
	box-sizing: border-box;
	position: absolute;
	padding: 50px 50px 0 50px;
	width: 100%;
}

#navigation ul {
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0;
}

#navigation ul li {
	display: inline-block;
	margin: 0 10px 0 10px;
}

#nav {
	position: relative;
	float: left;
}

#social {
	position: relative;
	float: right;
}

.section {
	box-sizing: border-box;
	margin: 0 0 0 0;
	padding: 60px 10px 60px 10px;
	text-align: center;
	width: 100%;
}

#logo_section {
	padding: 0 30px 45px 30px;
	height: auto;
}

#logo {
	margin: 160px auto 45px auto;
	width: 100%;
	max-width: 700px;
}

.sponsor {
	margin: 0 auto 0 auto;
	padding: 0 20px 0 20px;
	width: 80%;
	max-width: 250px;
}

#art {
	background: url(img/background.jpg) no-repeat center center scroll;
	background-size: cover;
	color: #fff;
}

#art p {
	font-size: 20px;
}

.text_block {
	width: 100%;
	max-width: 700px;
	margin: auto;
	padding: 12% 30px 9% 30px;
	box-sizing: border-box;
}

.text_block em {
	display: inline-block;
	color: #ff5c81;
	font-size: 24px;
	margin: 0 0 40px 0;
	padding-top: 80px;
}

#ball {
	padding: 60px 60px 120px 60px;
}

#staffing a {
	color: #ecf0f1;
}

#staffing {
	padding: 120px 60px 120px 60px;


	background-color: #ff5c81;
	color: #ecf0f1;
}

#more {
	margin-left: 12px;
}

#applications, #sponsorship {
	margin: 30px 0 30px 0;
}

#rolls {
	padding-top: 15px;
	text-align: left;
}

#rolls li {
	font-family: "Halant", serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 22px 0;
	text-indent: -13px;
}

#rolls li:before {
	content: "- ";
	text-indent: -13px;
}

.column {
	width: 50%;
	margin: 0 -1px 0 -1px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}
.left {
	padding-right: 30px;
}

.right {
	padding-left: 30px;
}

@media screen and (max-width: 800px) {
    .column {
		width: 100%;
	}
	.left, .right {
		padding: 0;
	}
}

#conkerinfo {
	margin: 80px -60px 80px -60px;
	padding: 120px 0 120px 0;
	background-color: #fff;
	color: #231c22;
}

#conkerproduct {
	max-width: 300px;
	margin-top: 40px;
}

#conkerinfo #text {
	display: inline-block;
	margin:auto;
	max-width: 680px;
	padding: 0 40px;
}

#conkerinfo #text img {
	margin-bottom: 40px;
}

#conkerinfo #text #sign {
	margin-top: 40px;
	margin-bottom: 0;
	max-width: 100px;
}

#conkerinfo p {
	margin: 20px 0;
}

#conkerinfo p em {
	color: #ff5c81;
}

#conkerinfo .dash {
	height: 1px;
	width: 40px;
	background-color: #231c22;
	margin: 20px auto;
}

#conkerinfo #link {
	margin-top: 40px;
}

#conkerinfo #link a {
	color: #ff5c81;
	size: 12px;
}

#committee a {
	color: #838586;
	border: none;
}

.group {
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	display: inline-block;
	vertical-align: middle;
	padding: 30px 20px 30px 20px;
}

@media screen and (max-width: 400px) {
    #navigation {
		padding: 50px 10px 0 10px;
	}
}

#ticketing {
	padding: 180px 0 0 60px;
	text-align: center;
}

#ticketing h3 {
	color: #ff5c81;
	font-size: 40px;
	margin-bottom: -10px;
}

#ticketing small{
	color: #ff5c81;
}

#ticketing h5{
	margin: 40px 0 120px 0;
	font-size: 34px;
}

#ticketing h5 a{
	color: #ff5c81;
}

#ticketing h4 {
	text-align: left;
	font-size: 30px;
	margin-bottom: 60px
}

#faqs {
	padding: 0 60px 60px 60px;
}

#faqs h4{
	font-family: "Halant", serif;
	font-weight: 300;
	font-size: 20px;
	font-style: italic;
	margin: 20px 0 0 0;
}

#faqs p{
	font-family: "Halant", serif;
	font-weight: 300;
	font-size: 16px;
}